body{
    background-color: black;
    color:white;
    margin:0;
}

.main-container{
    display:flex;
    height: 100vh;
}

.projects-container{
    background-color: aliceblue;
    flex:1 1 0;
}

.tasks-container{
    flex:3 1 0;
}